<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cigital.mobile.android"
      android:versionName="1.0" android:versionCode="2">
    <application android:label="@string/app_name" android:debuggable="true" android:icon="@drawable/cig_logo">
        <activity android:name=".RequestDetails"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity android:name=".result.WebViewDisplay"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.cigital.result.display.WEBVIEW" />
            </intent-filter>
        </activity>
        
        <activity android:name=".utils.IntentActionSubActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".result.DisplayActivity"
                  android:label="@string/app_name">
        </activity>

    </application>


</manifest> 